.git
.gradle
.idea
.local
.mypy_cache
.ruff_cache
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
**/build
**/.env
**/.env.*
!**/.env.example
services/embedding-inference/model_repository/**/model.onnx
services/embedding-inference/model_repository/**/model.onnx.data
merger.txt
merger.ignore
TODO.md
