# PostgreSQL
POSTGRES_DB=filemanager
POSTGRES_USER=filemanager
POSTGRES_PASSWORD=replace_with_password
POSTGRES_HOST=filemanager-postgres
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=replace_with_password
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET_NAME=filemanager

# Redpanda / Kafka
KAFKA_BOOTSTRAP_SERVER=filemanager-redpanda:9092

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=replace_with_password
KEYCLOAK_ISSUER_URL=http://filemanager-keycloak:8080/realms/filemanager

# Service Ports (External Host Access)
PORT_POSTGRES=5432
PORT_MINIO=9000
PORT_MINIO_CONSOLE=9001
PORT_REDPANDA=9092
PORT_KEYCLOAK=8082
PORT_API=8081
PORT_GATEWAY=8080

# Internal API
INTERNAL_API_TOKEN=replace_with_internal_token
